%h1 Editing: Communication Type

= render 'form'

= link_to 'Show', @communication_type
\|
= link_to 'Destroy', communication_type_path, :method => :delete, :data => {:confirm => 'Are you sure?' }
\|
= link_to 'Back', communication_types_path
