%div
  = form_for ProjectLink.new, :url => {:controller => 'project_links', :action => 'create_ajax'}, :remote => true, :html => {'data-update-target' => 'links'}, :method => 'POST' do |pl|
    = pl.hidden_field :Project_id, :value => project.id
    = render :partial => 'project_links/edit_link', :object => pl
    = submit_tag :Add
