%h1 Editing: Project Link

= render 'form'

= link_to 'Show', @project_link
\|
= link_to 'Destroy', project_link_path, :method => :delete, :data => {:confirm => 'Are you sure?' }
\|
= link_to 'Project Links Index', project_links_path
