%h1 Listing Project Types

%div
  %div.flex.three.list
    %div 
      Project Type
    %div
      Project Title
    %div
      Goal

  - @project_types.each do |project_type|
    %div.outline.large
      %div.flex.three.list
        %div
          = link_to project_type.text, project_type
        %div
        %div
      - project_type.projects.each do |project|
        %div.flex.three.list
          %div
          %div
            = link_to project.title, project
          %div
            = link_to project.goal, project
%br

= link_to 'New Project type', new_project_type_path
