%h1 Editing: Step Status

= render 'form'

= link_to 'Show', @step_status
\|
= link_to 'Destroy', step_status_path, :method => :delete, :data => {:confirm => 'Are you sure?' }
\|
= link_to 'Step Statuses Index', step_statuses_path
