%div.notes_cheat_sheet
  %div.hide_toggle{ :data => {'target' => 'cs_text'}}
    Show Cheatsheet
  %div#cs_text
    Bold: *** Text ***
    %br
    Red: *r* Text *r*
    %br
    Bold and red: *** *r* Text *** *r*

  