%h1 Editing: Priority

= render 'form'

= link_to 'Show', @priority
\|
= link_to 'Destroy', priority_path, :method => :delete, :data => {:confirm => 'Are you sure?' }
\|
= link_to 'Priorities Index', priorities_path
