%h1 Editing: Cdb Batch Project

= render 'form'

= link_to 'Show', @cdb_batch_project
\|
= link_to 'Destroy', cdb_batch_project_path, :method => :delete, :data => {:confirm => 'Are you sure?' }
\|
= link_to 'Cdb Batch Projects Index', cdb_batch_projects_path
