%h1 Editing: <%= singular_table_name.titleize %>

= render 'form'

= link_to 'Show', @<%= singular_table_name %>
\|
= link_to 'Destroy', <%= singular_table_name %>_path, :method => :delete, :data => {:confirm => 'Are you sure?' }
\|
= link_to 'Back', <%= index_helper %>_path
