%div
  = form_for Communication.new, :url => {:controller => 'communications', :action => 'create', :format => :ajax}, :remote => true, :html => {'data-update-target' => 'communications_table'}, :method => 'POST' do |pl|
    = pl.hidden_field :project_id, :value => project.id
    = render :partial => 'communications/communication', object: pl
    = submit_tag :Add
