%h1 Editing: Communication

= render 'form'

= link_to 'Show', @communication
\|
= link_to 'Destroy', communication_path, :method => :delete, :data => {:confirm => 'Are you sure?' }
\|
= link_to 'Communications Index', communications_path
