// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*-----------------------------------------------------------------------------------*
/* = Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
/*-----------------------------------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

html {
  //This is needed to strech the gradient background. 
  min-height: 100%;
}

body {
  background: linear-gradient(#DFE6FF,#527AFE);
  font-size: 12px;
  line-height: 1.5em;
  color: #333; //Close to black. 
  font-family: 'Helvetica Nue', Arial, Helvetica, sans-serif;
}

a {
// Might consider removing text-decorations.
  text-decoration: none;
  color: #7da1bc;
}
a:hover, .selected {
  color: #ef4034;
}
.selected {
   color: #fff;
    background-color: #000;
}
 
p { margin: 0 0 1em }

/*-----------------------------------------------------------------------------------*
/* = Structure
/*-----------------------------------------------------------------------------------*/

#wrap{
  overflow: hidden;
  background:#fff;
  margin: 0 auto;
  margin-bottom: 30px;
  width: 1200px;
  padding: 30px 30px 0;
}

/*-----------------------------------------------------------------------------------*
/* = Headings
/*-----------------------------------------------------------------------------------*/

#header {
  margin: 0 auto;
  position: relative;
  width: 1280px;
  padding: 30px 0px;
}
#flash{
  margin-top: 10px;
  background-color: white;
  text-align: center;
  display: inline-block;
  border: 1px solid black;
  padding-right: 15px;
  padding-left: 15px;
}
#flash:empty{
  display:none;
}
.center {
  display:block;
  text-align: center;
}
#page-heading{
  margin: -30px -30px 0px;
  padding: 0px 30px;
  height: 65px;
  //maybe adjust this more. 
  background: #ffe;
  border-bottom: 1px solid #ddd;
  position: relative;
}
#page-heading h1{
  font-size: 21px;
  line-height: 65px;
  color: #000;
  text-shadow: 0px 0px 0px #fff;
  margin: 0px !important;
}

#navigation {
  position: absolute;
  right: 0px;
  top: 30px;
  margin-right: 400px;
}

#navigation a {
  margin-right:10px;
  color: #555;
}
#navigation a:hover {
  color: #000
}

h1,
h2,
h3,
h4 {
  color: #333;
  line-height: 1.5em;
  font-weight: bold;
}
h1 {
  font-size: 24px;
  margin-bottom: 20px;
  line-height: 1.2em;
}
h2 { font-size: 18px }
h3 { font-size: 16px }
h4 { font-size: 14px; }
h2,
h3,
h4 {
  margin-top: 30px;
  margin-bottom: 20px;
}
h1 a,
h2 a,
h3 a,
h4 a { color: #333 }
h2 a:hover,
h3 a:hover,
h4 a:hover { color: #ef4034; text-decoration: none; }

/* Custom CSS*/
.indent>div {
  margin-left: 25px;
}


//This keeps search results in a flexbox in place, but allows the page to move down to make room. 
.search_results {
  width: 3px;
  overflow:visible;
  white-space:nowrap;
}

.no_wrap {
   white-space:nowrap;
}
.flex {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 2%;
}

.flex.list {
  margin-bottom:0;
}

//Might want to do no grow.
.grow>div {
  flex-grow: 1;
}

.flex>div {
  margin-right: 1%;
}

div.flex>div.o_one {
  width: 98%;
}

div.flex>div textarea {
  width:100%;
  min-height:15em;
}
.flex.two>div, div.flex>div.o_two{
  width:46%;
}
.flex.three>div{
  width:31%;
}
.flex.four>div{
  width:23%;
}
.flex.five>div{
  width:18%;
}
.flex.six>div{
  width:14%;
}
.flex.seven>div{
  width:14%;
}
.clear_with {
  witth: auto;
}

.flex .bottom {
  align-self: flex-end;
}

label.long{
  display: inline;
}

.active-item-shadow {
  border-style: solid;
  border-width: 4px;
}
.inline {
  display:inline;
}
/*
.two div div{
  width:49%;
}
*/
//Div Tables
/*



.two div div{
  width:49%;
}
.three div div{
  width:33%;
}
.four div div{
  width:25%;
}
.five div div{
  width:20%;
}
.six div div{
  width:16%;
}
*/


.two_column {
  display: table-cell;
  width:50%;
}

.full_text {
  width: 100%;
}

.outline{
  border-style: dashed;
  border-width: 1px;
  max-height: 6em;
  overflow-y: hidden;
  background-image: url('/plus.png');
  background-repeat: no-repeat;
//  background-attachment: fixed;
  background-position: right top;
}


.outline.large {
  max-height: 9em;
}

.outline_expanded {
  max-height: 100% !important; // For some reason, a large outilne doesn't work without the !important, regardless of if it's before or after this block.
  background-image: url('/minus.png');
}



label {
  display: block;
  //background-color:red;
  margin-top: 5px;
}

.projects_table_row {
  display:table-row;
}
.projects_table_row div {
  display: table-cell;
  width: 25%;
}

#contacts_table .row div{
  display: table-cell;
  width: 25%;
}

#communications_table .row div {
  display: table-cell;
  width: 20%;
}

#cs_text {
  display: none;
}

td {
  padding-right: 20px;
}

th {
  white-space:nowrap;
  text-align:left;
  padding-right: 20px;
}

.nowrap {
  white-space:nowrap;
}

.left {
  float:left;
}
.right {
  float:right;
}
