- if user_signed_in?
  = link_to 'Logout', destroy_user_session_path, :method => :delete
  Logged in as:
  = link_to current_user.first, edit_user_registration_path
- else
  = link_to 'Login', new_user_session_path
